body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(185, 17, 17) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
table{
    border:solid black 3px;
    width:80%;
    height:auto;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #fcb045;
}
td{
    border:solid black 3px;
    background-color:rgb(238, 191, 120);
}
#deleteUser{
    border:solid black 3px;
    background-color:rgb(238, 191, 120);
    height:40px;
    width:99%;
    margin:auto;
    margin-bottom: 0.5%;
}
#delete-input,#edit-input{
    width:10%;
    background-color: #fcb045;
    border:solid black 3px;
    margin-top:1%;
    margin-bottom:1%;
    margin-left:1%;
}
#delete-button,#edit-button{
    width:10%;
    background-color: rgba(253,29,29,1);
    border:solid black 3px;
    margin-left:2%;
    margin-top:1%;
    margin-right:2%;
    float:right;
}
#edit-button{
    background-color: rgb(22, 152, 74);
}
#editUser{
    border:solid black 3px;
    background-color:rgb(238, 191, 120);
    height:auto;
    width:99%;
    margin:auto;
    margin-bottom: 0.5%;
}

#delete-label,#edit-label{
    margin-left: 2%;
}
#firstName, #lastName, #dateOfBirth, #mobileNumber, #emailId{
    height:21px;
    width:99%;
    background-color: #fcb045;
    border:none;
    margin:0;
    font-weight: bolder;
    letter-spacing: 3px;
}
td{
    height:auto;
}