body{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/bg.jpg');
}

#top-half{
    background: rgba(131,58,180,0.6);
    background: linear-gradient(90deg, rgba(185, 17, 17,0.6) 0%, rgba(253,29,29,0.6) 50%, rgba(252,176,69,0.6) 100%);
    height:50vh;
    width:100%;
}

#label{
    background-color: aliceblue;
    color: rgb(172, 58, 180) ;
    letter-spacing: 2px;
    font-size: 200%;
    font-weight: bold;
    margin: auto;
    width: 20%;
    height: 10vh;
    border-radius: 40px;
    text-align: center;
    margin-top: 5%;
}
#bottom-half{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(185, 17, 17) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height:50vh;
    width:100%;
}